<% layout('boilerplate') -%>
<div class="container my-5">
  <h2 class="text-center mb-4">Experience</h2>
  <div class="row">

    <!-- Coding Ninjas -->
    <div class="col-md-4 mb-4">
      <div class="card h-100 border-0 shadow-sm">
        <img src="coding_ninjas.jpeg" class="card-img-top" alt="Coding Ninjas Logo">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">Teaching Assistant</h4>
          <h5>Coding Ninjas</h5>
          <p class="text-muted">February 2024 - May 2024</p>
          <ul class="fs-6">
            <li>Analyzed over 100 problems related to Data Structures and Algorithms with a general score of 4.76/5.00.</li>
            <li>Increased debugging skills by going through 10k+ lines of code in search of errors.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Softpro India -->
    <div class="col-md-4 mb-4">
      <div class="card h-100 border-0 shadow-sm">
        <img src="spi.webp" class="card-img-top" alt="Softpro India Logo">
        <div class="card-body">
          <h4 class="card-title  font-weight-bold">Trainee</h4>
          <h5>Softpro India</h5>
          <p class="text-muted">September 2022 - December 2022, Lucknow</p>
          <ul class="fs-6">
            <li>Conceptualized and executed complex embedded systems projects using Atmel Studio and Proteus Software.</li>
            <li>Designed and implemented embedded system solutions, successfully integrating hardware and software components.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- RN Technology -->
    <div class="col-md-4 mb-4">
      <div class="card h-100 border-0 shadow-sm">
        <img src="rn.png" class="card-img-top" alt="RN Technology Logo">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">Content Writer</h4>
          <h5>R.N Technology</h5>
          <p class="text-muted">May 2021 - August 2023 Remote</p>
          <ul class="fs-6">
            <li>Created engaging content about new technological advancements, which positively impacted website traffic and engagement metrics.</li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>
